{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="keywords" content="Instalacion de Camaras y Sistemas de seguridad, camara de seguridad, cctv e Ip, kit dvr, servidores, certificacion vms milestone, redes de fibra optica y cobre, soporte tecnico e informatico a empresas"/>
  <meta name="description" content="Empresa especializada en servicios e instalacion de proyectos de seguridad e informatica, como cámaras y sistemas de seguridad con certificacion milestone, kit dvr, servidores, sistemas informáticos e instalaciones de redes fibra optica y cobre" />
  <meta charset="UTF-8">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<!-- Facebook -->
<meta property="og:site_name" content="webpcx.cl">
<meta property="og:type" content="website">
<meta property="og:title" content="Webpcx | Camaras y sistemas de seguridad">
<meta property="og:description" content="Webpcx |Camaras y sistemas de seguridad">
<meta property="og:url" content="http://www.webpcx.cl">
<meta property="og:image" content="http://webpcx.cl/img/empresa-certificada-milestone.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" /> 
<!-- /Facebook -->




  <title>Webpcx | Instalacion de camaras y sistemas de seguridad</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'animate-css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'Morphext-2.4.4/morphext.css' %}">
  <link rel="stylesheet" href="{% static 'css/webpcx.css' %}">

</head>


<body >
<!-- ==========MENU=================-->
 
    <!--HEADER-->
    <div class="header">
      <div class="fondo-header">
        <header >
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#miNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'Webpcx:index' %}"><span class="logo-prim">Web</span><span class="logo-sec">Pcx</span></a>
            </div>
            <div class="collapse navbar-collapse" id="miNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url 'Webpcx:index' %}">Inicio</a></li>
                <li class=""><a href="{% url 'Webpcx:Servicios' %}">Servicios</a></li>
                <li class=""><a href="{% url 'Webpcx:Contacto' %}">Contacto</a></li>
                <li class=""><a href="{% url 'Webpcx:Noticias' %}">Noticias</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>

<section id="introServicio">
    <div class="container-intro">
       <div class="responsivo">
           <div class="intro-logo wow fadeInDown">
             <img src="{% static 'img/webpcx_png.png'%}" width="950px" alt="logopcx">
           </div>
      <h1 class="rotador wow fadeInUp">Camaras de seguridad, Sistemas De seguridad, Dvr y Servidores,Soporte Tecnico e Informatico, Instalacion Redes de Fibra Optica y Cobre</h1>
       </div>
    </div>
      </div>
  </div>
</section>
<!-- ==========FIN MENU=============-->

<!--===========CONTENIDO============-->

<section class="contenido wow fadeInUp">
 <div class="container">
   <div class="row">
    <div class="col-lg-12 ">
      <h1 class="text-center ">Web<span class="logo-sec">Pcx</span></h1>
      <hr class="subrayado">
    </div>
    <div class="col-lg-12">
      <div role=tabpanel>
        <ul class="nav nav-tabs nav-justified responsive-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#empresa" aria-controls="empresa" data-toggle="tab" role="tab" class="font-nav-tab"><div><span class="fa fa-briefcase nav-tab-iconos"></span></div>Empresa</a></li>
          <li role="presentation"><a href="#mision" aria-controls="mision" data-toggle="tab" role="tab" class="font-nav-tab"><div><span class="fa fa-users nav-tab-iconos"></span></div>Mision</a></li>
          <li role="presentation"><a href="#vision" aria-controls="vision" data-toggle="tab" role="tab" class="font-nav-tab"><div><span class="fa fa-eye nav-tab-iconos"></span></div>Vision</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active in" id="empresa">
        
            <div class="col-lg-12">
              <h4>¿Quienes Somos?</h4>
               <p class="text-justify">
               <strong>WEBPCX</strong> es una empresa TI, con gran experiencia desde el año 1999 y desde el 2010 formalizada con la razón social Webpcx Ingeniería Limitada. La cual Consta con un curriculum extenso en<strong> instalación y mantención de cámaras de seguridad, sistemas de seguridad y sistemas informáticos</strong>.
              </p>

               <p class="text-justify text-center">
                Otros Servicios que entregamos:
               </p>
               <div class="list-style">
                <div class="row">
                  <div class="col-lg-7 col-sm-6 col-xs-12">
                    <ul>
                      <li><b>Outsourcing Informático</b></li>
                      <li><b>Respaldos</b></li>
                      <li><b>Instalacion de Cable Estructurado y Fibra Optica</b></li>
                      <li><b>Soporte y Mantención</b></li>
                      <li><b>Desarrollo De Distemas</b></li>
                    </ul>
                  </div>
                  <div class="col-lg-5 col-sm-6 col-xs-12">
                    <ul>
                      <li><b>Instalacion Botones de Panico</b></li>
                      <li><b>Redes De Datos</b></li>
                      <li><b>Monitoreo Remoto</b></li>
                      <li><b>Asistencia Técnica</b></li>
                      <li><b>Planes De Mantenciones</b></li>
                    </ul>
                  </div>
                </div>
              </div>

               <p class="text-justify">
               Contamos con profesionales de excelencia y técnicos certificados, convenios para obtener la tecnologia y productos de primer nivel para poder entregarles a nuestros clientes el respaldo y la seguridad de un buen trabajo realizado en nuestros servicios de asesoría, especificaciones técnicas e ingeniería de detalle, instalación y entrega llave en mano de las soluciones. 
               </p>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="mision">

            <div class="col lg-12">
              <h4>Mision</h4>
              <p class="text-justify">
               Ser una empresa que apoya a nuestros clientes y da un servicio eficiente de la forma más expedita mediante la implementación de nuevas tecnologías, tales como la seguridad de la información, de las redes y de las mismas empresas.   
              </p>

              <p class="text-justify">
               Ser en un socio con conocimientos tecnológicos y con capacidades de asesorar, integrar, innovar e implementar soluciones, generando una relación estratégica real, de valor agregado permanente en el tiempo, fundamentado en una relación de confianza y calidad de servicio, donde ambas partes obtienen resultados favorables..
              </p> 
            </div>

           
                 
          </div>

          <div role="tabpanel" class="tab-pane" id="vision">
           <h4>Vision</h4>
           <p class="text-justify">
               Ser reconocidos por entregar un servicio de primer nivel, adaptable a las futuras necesidades de nuestros clientes, además de ser una empresa que evolucione en conjunto a la tecnología.
          </p>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>  
</section>

<section class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <img src="{% static 'img/conveniomarco.png' %}" alt="" width="65%" class="img-responsive center-block" id="conveniomarco">
      </div>
    </div>
</section>

<section class="contenido wow fadeInUp">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
             <h1 class="page-header">Camaras de Vigilancia y <span class="logo-sec">Sistemas De Seguridad</span></h1>
          </div>
            <div class="col-lg-6 parrafo-centrado">
               <p class="text-justify">
                En el catálogo de servicios que ofrece <strong>Webpcx</strong> se encuentra la instalación y mantención de <strong>cámaras de seguridad y sistemas de seguridad, Dvr y servidores</strong>, que hoy en día es un servicio fundamental cuyo objetivo más común es la seguridad ya sea de empresas o comunidades.
               </p> 
               <br>
               <p class="text-justify">
                El funcionamiento de estos <strong>sistemas de seguridad</strong> y monitoreo son efectuados mediante cámaras ubicadas en los distintos puntos de control, conectadas con la central de monitoreo a través de <strong>enlaces inalámbricos, fibra óptica</strong> y operados desde un centro de monitoreo.
              </p> 
              <br>
               <p class="text-justify">
                Además, <strong>Webpcx</strong> cuenta con certificaciones que complementan el servicio entregado, así proporcionando opciones flexibles en hardware e integraciones de terceros. 
              </p>
            </div>

            <div class="col-md-6">
               <div id="myCarousel" class="carousel slide">
                 <div class="carousel-inner">

                   <div class="item active">
                     <img class="img-responsive img-circle" src="{% static 'img/camaras-de-vigilancia.jpg' %}" width="100%" alt="Camara de seguridad">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/instalacion-camaras-seguridad.jpg' %}" width="100%" alt="webpcx Instalacion Camaras de seguridad">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/camara-de-seguridad.png' %}" width="100%"  alt="camara de seguridad instalada">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/milestone-vms-monitoreo.jpg' %}" width="100%" alt="milestone central de monitoreo">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/milestone-dispositivos.png' %}" width="100%" alt="vms milestone dispositivos">
                   </div>

                 </div>        
               </div>
            </div>

            <div class="col-lg-12 col-md-12 texto-abajo">
              <p class="text-justify">
                Entre ellas la certificación <a href="https://www.milestonesys.com/es"><strong class="milestone">Milestone</strong></a> que con su software VMS de monitoreo permite tener grandes sistemas con múltiples servidores de grabación con una administración eficiente y un solo sistema unificado.
                Contando con <strong>monitoreo en vivo</strong>, administración centralizada y grabación de alto desempeño brindando información instantánea sobre el desempeño del sistema, habilitando una administración proactiva del sistema.
              </p>
            </div>
        </div>
    </div>
</section>

<section class="contenido wow fadeInUp">
  <div class="container">
    <div class="row">
    <div class="col-lg-12 ">
      <h2 class="text-center">Certificaciones</h2>
      <hr class="subrayado">
    </div>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

    <div class="item active">
      <img src="{% static 'img/certificaciones/certificaciones1.png' %}" class="img-responsive">
    </div>

    <div class="item">
      <img src="{% static 'img/certificaciones/certificaciones2.png' %}"  class="img-responsive">
    </div>

    <div class="item">
      <img src="{% static 'img/certificaciones/certificaciones3.png' %}"  class="img-responsive">
    </div>

    <div class="item">
      <img src="{% static 'img/certificaciones/certificaciones4.png' %}"  class="img-responsive">
    </div>

    <div class="item">
      <img src="{% static 'img\certificaciones\certificaciones5.png' %}"  class="img-responsive">
    </div>
  </div>
  </div>
  </div>
</div>
</section>

<hr class="featurette-divider">

<section class="contenido wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Soporte Informatico <span class="logo-sec">e Instalacion de Redes</span></h1>
      </div>
            <div class="col-md-6">
               <div id="myCarousel" class="carousel slide">
                 <div class="carousel-inner">

                   <div class="item active">
                     <img class="img-responsive img-circle" src="{% static 'img/soporteslider.jpg' %}" width="100%" alt="instalacion y soporte de redes">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/instalacion-de-redes.jpg' %}" width="100%" alt="Instalacion antena redes">
                   </div>

                   <div class="item">
                     <img class="img-responsive img-circle" src="{% static 'img/antena.jpg' %}" width="100%" alt="antena red">
                   </div>
                 </div>          
               </div>
            </div>
      <div class="col-md-6 texto-abajo">
         <p class="text-justify">
           Actualmente los <strong>sistemas informáticos</strong> de las empresas han cobrado en una vital importancia en los procesos productivos de estas, por lo que <strong>Webpcx</strong> entrega servicios de implementación y soporte de estos sistemas a manos de nuestros técnicos cualificados. De esta manera transformándonos en su departamento de informática. 
         </p>
          <br>
         <p class="text-justify">
           Además, contamos con un área de provisión de servicios de <strong>instalación y mantención de redes informáticas</strong> con la garantía que le puede ofrecer nuestros profesionales certificado para tales procedimientos en esta área, entre ellas:
         </p> 

          <br>
          
        
        <div class="list-style">
        <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul>
               <li><b>Instalacion de Cableado Estructurado.</b></li>
               <br>
               <li><b>Instalacion de Enlaces robustos de largo alcance.</b></li> 
            </ul>
         </div>

         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul>
               
               <li><b>Instalaciones Fibra Óptica y Cobre.</b></li>
               <br>
               <li><b>Instalación y Mantención de Servidores.</b></li>
            </ul>
         </div>
       </div>
     </div>

      
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-abajo">
         <p class="text-justify">
           Al igual que en nuestros otros servicios contamos con certificaciones, entre ellas la de diseñar e instalar sistemas de cableado estructurado PAN-NET de <a href="#panduitmodal" data-toggle="modal" data-target="#panduitmodal" class="panduit">Panduit</a> que nos acredita como técnicos certificados de Panduit(PCT).
         </p>
      </div>
    </div>
  </div>
</section>

<section class="contenido wow fadeInUp">
  <div class="container">
    <div class="row">
    <div class="col-lg-12 ">
      <h2 class="text-center">Nuestros Clientes</h2>
      <hr class="subrayado">
    </div>
<div id="myCarousel" class="carousel slide">

  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'img/clientes/clientes1.png' %}" class="img-responsive">
    </div>

    <div class="item">
      <img src="{% static 'img/clientes/clientes2.png' %}"  class="img-responsive">
    </div>
    <div class="item">
      <img src="{% static 'img/clientes/clientes3.png' %}"  class="img-responsive">
    </div>
  </div>

  </div>
  </div>

</div>
</section>
<!--===========FIN CONTENIDO========-->

<!--===========FOOTER===============-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6 ">
          <div class="wow fadeInDown">
          <div class="footer-icon">
            <img src="{% static 'img/webpcx_png.png' %}" width="250px" class="img-responsive">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="wow fadeInDown">
            <div class="footer-icon center-block">
               <ul>
                 <li>
                   <span class="fa-stack fa-lg">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                   </span> Lunes - Viernes, 9am a 7pm
                 </li>

                 <li>
                   <span class="fa-stack fa-lg">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                   </span> (+56 35)2442827 <a href="tel:+56352442827"><button class="btn-llamar hidden-lg hidden-md">Llamanos</button></a>
                 </li>
              </ul>
            </div>
          </div>
        </div>

      </div>  
    </div>
</footer>

<div class="footer-abajo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               Copyright &copy; Webpcx Ingenieria Ltda 2017.
            </div>
        </div>
    </div>
</div>
<!--===========FIN FOOTER===========-->


<!--===========MODAL===========-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="{% static 'img/empresa-certificada-milestone.png' %}" alt="empresa certificada vms milestone" width="100%" class=" img-responsive img-thumbnail">
      </div>
    </div>
  </div>
</div>

<div id="panduitmodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="{% static 'img/certificacion-panduit.png' %}" alt="" width="100%" class=" img-responsive img-thumbnail">
      </div>
    </div>
  </div>
</div>

<!--===========FIN MODAL===========-->
<!-- JQUERY -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--FIN JQUERY-->

<!-- JAVASCRIPT -->
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'Morphext-2.4.4/morphext.min.js' %}"></script>
 <script src="{% static 'js/Efectos.js' %}"></script>
 <script src="{% static 'WOW-master/wow.min.js' %}"></script>
<!--FIN JAVASCRIPT -->

<!--SCRIPT CHAT-->
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=67705747"></script>
<!--SCRIPT CHAT-->
</body>
</html>